body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: rgb(38, 119, 212);
}
#screen{
    display: flex;
    justify-content: space-between;
    margin-top:-8px;
}


#container{
    background-color: white;
    border-radius: 6px;
    padding: 10px;
}
#btn{
    display: flex;
    justify-content: space-between;
    
}
button{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: rgb(38, 119, 212);
    border-color: rgb(38, 119, 212);
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 20px;
    
}
button:focus{
    background-color: white;
    border-color: rgb(38, 119, 212);
    color: rgb(38, 119, 212);
    font-weight: bold;
}
img{
    height: 40px;
    width: 70px;
    margin-top: 10px;
}
button:last-child{
    margin-right: 20px;
}
.para{
    text-align: center;
}
