body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(14, 123, 52);
}
#chrono{
    border: 1px solid black;
    padding: 10px;
    margin-top: 200px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
#screen{
    border: 1px solid gainsboro;
}
span{
    font-size: 3em;
}
#btn{
    margin-top: 6px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
button{
    padding: 10px 20px;
    transition: 0.5s;
    background-color: rgb(14, 123, 52);
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
}
button:hover{
    transform: scale(0.9);
    cursor: pointer;
}