body{
    background-color: rgb(90, 153, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section{
    background-color: white;
    border-radius: 6px;
    min-width: 35%;
}
h1{
    text-align: center;
    margin: 0;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.para{
    border-radius: 6px;
    width: 460px;
    background-color:rgb(90, 153, 216);
    margin-left:17px;
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    color: white;
    word-break: break-all;
    display: flex;
    margin: 10px;
    margin-left: px;
}
.selection{
    background-color: rgb(242, 102, 102);
    text-decoration: line-through;
}
#barre{
    
    border-radius: 6px 0px 0px 6px;
    height: 25px;
    width: 430px;
    min-width: vh;
    outline: 0;
    border-right: none;
}
#barreComplete{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#btn{
    margin-left: -4px;
    border-radius: 0px 6px 6px 0px ;
    height: 31px;
    border: none;
    background-color: rgb(90, 153, 216);    
    width: 34px;
    margin-top: px;
}